.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 175px; */
    width: 200px;
    border: 1px solid black;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-button {
    width: 100%;
    margin-bottom: 10px;
}